<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bkc.android.mdxplayer"
      android:versionCode="6" android:versionName="@string/app_version">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity 
        	android:name="Player" android:label="@string/app_name" android:screenOrientation="unspecified" android:configChanges="keyboardHidden|orientation">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:scheme="file" android:pathPattern=".*\\.mdx"/>  
                <data android:host="*" android:scheme="file" android:pathPattern=".*\\.m"/>  
                <data android:host="*" android:scheme="file" android:pathPattern=".*\\.m2"/>  
                <data android:host="*" android:scheme="file" android:pathPattern=".*\\.mz"/>  
                <data android:host="*" android:scheme="file" android:pathPattern=".*\\.mp"/>  
                <data android:host="*" android:scheme="file" android:pathPattern=".*\\.ms"/>  
                </intent-filter>
        </activity>

        <activity android:name="FileDiag" android:screenOrientation="unspecified" android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity android:name="HelpActivity"></activity>
        <service android:name="PCMRender"></service>
        <activity android:name="KeyView"></activity>
        <activity android:name="Setting"></activity>
        
    </application>
</manifest>