<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bkc.android.mdxplayer"
    android:versionCode="11"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:icon="@drawable/icon"
        android:label="@string/app_label"
        android:theme="@style/AppTheme">
        <activity
            android:name="Player"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_label"
            android:screenOrientation="unspecified" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="audio/x-mdx"
                    android:pathPattern=".*\\.mdx"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="audio/x-pmd"
                    android:pathPattern=".*\\.m*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="audio/x-mdx"
                    android:pathPattern=".*\\.MDX"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="audio/x-pmd"
                    android:pathPattern=".*\\.M*"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="FileDiag"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="unspecified" >
        </activity>
        <activity android:name="HelpActivity" >
        </activity>

        <service android:name="PCMRender" >
        </service>

        <activity android:name="KeyView" >
        </activity>
        <activity android:name="Setting" >
        </activity>
    </application>

</manifest>